@model SwissBank.Data.Models.User

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Home</h2>

<div>
    <h4>You</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monney)
        </dt>
        <dd>
            €@Html.DisplayFor(model => model.Monney)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Transactions" asp-action="Index" asp-route-id="@Model.Id">Transactions</a>
</div>